* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #54d9de;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  /* font-family: 'revert'; */
}

.App {
  text-align: center;
}
ul {
  list-style: none;
}
.navecontainer {
  width: 100%;
  margin: auto;
  /* background-color: #e2f3f5; */
  display: flex;
}

.logocontainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 200px;
  height: 100px;
  margin: 15px;
  /* background-color: #22d1ee; */
}
.naveInnerContainer {
  margin: auto;
  width: 50%;
}
.naveInnerContainer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 50px;
}
.naveInnerContainer > ul > li {
  font-size: 20px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
.naveInnerContainer > ul > li:hover {
  background-color: #dfe9eb;
}
.navlink{
  margin: auto 10px;
}
.navlink:hover{
  color:#0dba3e;
}
.cardcontainer {
  width: 95%;
  margin: 3% auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 30%;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  position: relative;
}
.card:hover {
  top: -5;
  right: -5px;
  /* cursor: pointer; */
}
h3{
  margin: 5px auto;
}
h4{
  margin-top: 15px;
}
p{
  margin-top: 15px;
}
